[submodule "site-lisp/screenshow-mode"]
	path = site-lisp/screenshow-mode
	url = git@github.com:jjpatel/screenshow-mode
[submodule "site-lisp/emacs-livedown"]
	path = site-lisp/emacs-livedown
	url = https://github.com/shime/emacs-livedown
