/auto-save-list/
/elpa/
ido.last
local.el
recentf
auto-save-list
.emacs.desktop*
projectile.cache
projectile-bookmarks.eld
places
session.*
cider-history
.litable-lists.el
/server/
/emacs-livedown/
*~
.\#*
\#*\#
